ActiveRecord::Base.establish_connection(
  :adapter => "sqlite3",
  :database => "datacollector.sqlite"

#  :adapter => 'postgresql',
#  :database => 'datacollector',
#  :host => 'localhost',
#  :port => '5432',
#  :username => 'datacollector',
#  :password => 'my_password'

)
