db:
  adapter: sqlite3
  database: kmonitor.sqlite
# host: localhost
# port: 5432
# username: db_username
# password: db_password

mailer:
  address: smpt.example.com
  port: 25
  user_name: sender@example.com
  password: email_password
  authentication: plain
  enable_starttls_auto: true
  recipient: recipient@example.com
